/*This file is not included in the plugin bundle. It is used only when the app is run via npm run dev for testing purposes.*/
* {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}
